report {
    enabled = true
    overwrite = true
    file = "nextflow-report.html"
}

timeline {
    enabled = true
    overwrite = true
    file = "timeline.html"
}

dag {
    enabled = true
    overwrite = true
    file = "flowchart.html"
}

manifest {
    name = "darkshore"
    version = "v0.0.1"
    author = ["John Zinno"]
    homePage = "https://github.com/jzinno/darkshore"
    defaultBranch = "main"
    nextflowVersion = "22.10.4+"
}

